# Default ignored files
/shelf/
/workspace.xml
.idea
.vs
Client/obj
KeyExchangeServer/obj
# Rider ignored files
/modules.xml
/.idea.ConsoleApplication2.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
